.sky{z-index: -13;
position: fixed;
}
h1{z-index: +5;
    
    font-size: -19px;
    position: fixed;
    top: 0;
    left: 33%;
}
.city{z-index: -1;
position: absolute;
top: 30%;
animation: jagah 60s linear  alternate ;
}
@keyframes jagah {
    0%{transform: translate(0%);}
25%{transform: translate(-80%);
}
50%{transform: translate(-60%);}
/* 75%{transform: translate(-40%);
}
100%{transform: translate(-100%);} */
    
    
}
.car{z-index: -1;
position: fixed;
top: 55%;
left: 44%;
width: 300px;
height: 150px;}

.wheel1{position: absolute ;
    width: 54px;
    left: 59.4%;
    height: 54px;
    top: 69%;
z-index: +4;
animation: pair 6s linear alternate ;}

.wheel2{
    position: absolute;
    width: 54px;
    left: 46%;
    height: 54px;
    top: 69%;
    animation: pair 6s linear alternate}
    
    @keyframes pair {from{transform: rotate(0deg);}
to {transform: rotate(360deg);}
   
    }

    .road{z-index: -3;
        height: 196px;
    position: absolute;
    top:69%;
    animation: vair 20s linear  alternate ;
    }

@keyframes vair {0%{transform: translate(0%);}
25%{transform: translate(-80%);
}
50%{transform: translate(-60%);}
/* 75%{transform: translate(-40%);
}
100%{transform: translate(-1%);} */
    
}
.flag{position: fixed;
    top: 367px;
    left: 840px;
    width: 50px;
    height: 40px;}

span:first-of-type{background-color: orange;}
span:last-of-type{background-color: green;}
span:nth-of-type(2){background-color: white;}